.project-detail{
    &__top{
        --mr-bt: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--mr-bt);
    }

    &__name{
        @include text(1.4rem, $pl, 1, $black-cl, uppercase);
    }

    .function-bar{
        column-gap: 10rem;
    }

    &__avatar{
        --mr-bt: 3.8rem;
        line-height: 0;
        margin-bottom: var(--mr-bt);
    }

    &__info{
        display: flex;
        justify-content: space-between;

        .item{
            width: 100%;

            h3{
                --mr-bt: 2rem;
                font-family: $pl;
                margin-bottom: var(--mr-bt);
            }

            p{
                font-family: $ar;
            }

            &:first-child{
                max-width: 32.2rem;
            }

            &:nth-child(2){
                max-width: 6.8rem;
            }

            &:last-child{
                max-width: 24.5rem;
            }
        }
    }
}


@include xs{
    .project-detail{
        &__avatar{
            --mr-bt: 3.8rem;
            margin-left: -10px;
            margin-right: -10px;
        }

        &__info{
            flex-direction: column;

            .item{
                width: 100%;
                margin-bottom: 4.5rem;
    
                &:first-child{
                    order: 2;
                }
    
                &:nth-child(2){
                    order: 1;
                }
    
                &:last-child{
                    order: 3;
                    margin-bottom: 0;
                }
            }
        }
    }
}