.project-detail{
    &__top{
        --mr-bt: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--mr-bt);
    }

    &__name{
        @include text(1.4rem, $pl, 1, $black-cl, uppercase);
    }

    .function-bar{
        column-gap: 10rem;
    }

    &__avatar{
        --mr-bt: 3.8rem;
        margin-bottom: var(--mr-bt);

        &-item{
            @include size(100%, 500px);
            line-height: 0;

            img{
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: cover;
            }

            .close{
                opacity: 0;
                display: inline-block;
                @include size(25px);
                line-height: 25px;
                text-align: center;
                font-size: 32px;
                color: $yellow-cl;
                position: absolute;
                top: 10px;
                right: 10px;
                pointer-events: none;
                cursor: pointer;
                border-radius: 5px;
                // background-color: $grey-cl;
                border: 1px solid $yellow-cl;
            }
        }

        &.is-fullscreen{
            z-index: 3;
            
            .project-detail__avatar-item{
                height: 100%;
                @include mid(true);

                img{
                    height: auto;
                    max-height: 100%;
                }

                .close{
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    &__info{
        display: flex;
        justify-content: space-between;

        .item{
            width: 100%;

            h3{
                --mr-bt: 2rem;
                font-family: $pl;
                margin-bottom: var(--mr-bt);
            }

            p{
                font-family: $ar;
            }

            &:first-child{
                max-width: 32.2rem;
            }

            &:nth-child(2){
                max-width: 6.8rem;
            }

            &:last-child{
                max-width: 24.5rem;
            }
        }
    }
}


@include xs{
    .project-detail{
        &__avatar{
            --mr-bt: 3.8rem;
            margin-left: -10px;
            margin-right: -10px;
        }

        &__info{
            flex-direction: column;

            .item{
                width: 100%;
                margin-bottom: 4.5rem;
    
                &:first-child{
                    order: 2;
                }
    
                &:nth-child(2){
                    order: 1;
                }
    
                &:last-child{
                    order: 3;
                    margin-bottom: 0;
                }
            }
        }
    }
}